body {
	color: #000;
}

a:visited{
	text-decoration: none;
}

.jumbotron {
	background-color: hsla(241, 100%, 21%, 0.83);
	color: #fff;
}

.nav > li > a:hover {
	color: #fff;
	background-color: hsla(241, 100%, 21%, 0.83);;
}

.nav > li > a {
	color: hsla(241, 100%, 21%, 0.83);;
	background-color: transparent;
}

a:hover {
	list-style-type: none;
	text-decoration: none;
}

img {
	margin-bottom: 1rem;
}

a {
	color: blue;
}

a:link{ 
	background-color: #fff;
	color: #000;
	border: #000 1px solid;
	display: block;
	text-align: center;
}

a:hover {
	background-color: blue;
	color: #fff;
}

.phone {
	margin-top: -10px;
}

.footer {
	text-align: center;
	margin-top: 2rem;
}

