body {
	color: #000;
}

a:visited{
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  background-color: transparent;
  color: #000;
  border: none;
}


.jumbotron {
	background-color: hsla(241, 100%, 21%, 0.83);
	background-image: url('../img/ocean.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: inherit;
	color: #fff;
	height: 650px;

}

a:hover {
	list-style-type: none;
	text-decoration: none;
}

img {
	margin-bottom: 1rem;
}

a {
	color: blue;
}

.navbar {
	background-color: transparent;
}

a:link{ 
	background-color: #fff;
	color: #000;
	border: #000 1px solid;
	display: block;
	text-align: center;
}

a:hover {
	background-color: blue;
	color: #fff;
}

.phone {
	margin-top: -10px;
}

#portfolio {
	height: 30rem;
}


footer > .jumbotron {
	text-align: center;
	height: 256px;
	background-color: #000;
	background-image: url('../img/piano.jpeg');
	background-repeat: no-repeat;
	width: 100%;
	margin-top: 2rem;
}


